    /* Reset */
    * {
        box-sizing: border-box;
    }

    /* Variables */
    :root {
        --clr-primary: #633F08;
    }

    /* Definitions */
    .header-landing,
    .hero-container,
    .hero-container--text-wrapper {
        display: flex;
    }

    /* Header navigation styles */
    .header-landing {
        flex-flow: row-reverse;
    }

    .header-landing--nav {
        margin: 36px 10vw;
    }

    .header-landing--link,
    .header-landing--link:visited {
        color: var(--clr-primary);
        font-size: 24px;
        letter-spacing: 1.2px;
        text-decoration: none;
    }

    .header-landing--link:active {
        text-decoration: underline;
    }

    /* Hero section styles */
    .hero-container{
        height: 850px;
        margin-top: 50px;
    }

    .hero-container--text-wrapper{
        flex-flow: column;
        margin-left: 15vw;
    }

    .hero-container--h1, .hero-container--h2{
        color: var(--clr-primary);
    }

    .hero-container--h1{
        font-size: 64px;
        font-weight: bold;
        letter-spacing: -2px;
        width: 284px;
    }

    .text-variation__regular{
        font-weight: 500;
    }

    .hero-container--h2{
        font-size: 40px;
        font-weight: 500;
    }

    .hero-container--3D-box{
        left: 40vw;
        overflow: visible;
        position: absolute;
        top: 100px;
        z-index: 1;
    }

    .hero-container--3D-viewer{
        height: 800px;
        overflow: visible;
        width: 900px;
    }